.row {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #dbd5e3;
    padding-left: 2.35rem;
}

.column {
    flex: 3;
    text-align: left;
}

.flex {
    flex: 1;
    text-align: left;
}

.empty {
    width: 4rem;
}

.empty2 {
    width: 1.2rem;
}

.empty3 {
    width: 1.2rem;
}

.empty4 {
    width: 0.8rem;
}

.svg {
    margin: auto;
    width: 25px;
    height: 25px;
}
