::placeholder {
    opacity: 30%;
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 80%;
}

.window {
    width: 50vw;
    height: 50vh;
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.cross {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem 1rem 0 0;
    width: 20px;
    height: 20px;
}

.dropdown {
    text-align: center;
    width: 4rem;
    align-self: center;
    font-size: 1rem;
    padding: 0.3rem;
}

.initals {
    text-align: center;
    width: 1.5rem;
    align-self: center;
    text-transform: uppercase;
}

.textfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment {
    align-self: center;
    width: 80%;
    height: 8vh;
    border: 1px solid black;
    border-radius: 0.2rem;
}

.buttonSubmit {
    border: 1px solid black;
    width: fit-content;
    align-self: center;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
}

.buttonSubmit:hover {
    background-color: #a796ba;
}

.default {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/

    font-size: 1rem;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 0.2rem;
}
